body {
  color: #333;
  font-family: "PT Serif", serif
}

nav {
  position: fixed;
}

article {
  position: absolute;
  width: 50%;
  left: 20%;
  padding: 5%;
  font-size: 15px;
}

address {
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

ol {
  text-align: center;
  list-style-type: upper-roman;
}

a {
  color: #333;
  text-transform: uppercase;
}

footer {
  text-align: right;
}
